<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h2>Hotel California</h2>
        <p>1234 California St</p>
        <p>San Francisco</p>
        <p>94123</p>
        <p>Northern</p>
    
        <h2>Hotel California</h2>
        <p>1234 California St</p>
        <p>San Francisco</p>
        <p>94123</p>
        <p>Northern</p>
    
        <h2>Hotel California</h2>
        <p>1234 California St</p>
        <p>San Francisco</p>
        <p>94123</p>
        <p>Northern</p>
    
</body>
</html>