<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h2>Hotel California</h2>
            
                <h3>Breakfast</h3>
                <ul>
                    
                        <li>Oatmeal - 4.95</li>
                    
                        <li>Cheerios - 3.95</li>
                    
                        <li>Omelet - 6.95</li>
                    
                </ul>
            
                <h3>Lunch</h3>
                <ul>
                    
                        <li>Burger - 5.95</li>
                    
                        <li>Pizza - 7.95</li>
                    
                        <li>Wrap - 6.95</li>
                    
                </ul>
            
                <h3>Dinner</h3>
                <ul>
                    
                        <li>Steak - 12.95</li>
                    
                        <li>Pasta - 8.95</li>
                    
                        <li>Chicken - 9.95</li>
                    
                </ul>
            
    
        <h2>Bates Motel</h2>
            
                <h3>Breakfast</h3>
                <ul>
                    
                        <li>Biscuits and Gravy - 7.95</li>
                    
                        <li>Pancakes - 5.95</li>
                    
                        <li>French Toast - 6.95</li>
                    
                </ul>
            
                <h3>Lunch</h3>
                <ul>
                    
                        <li>Soup - 3.95</li>
                    
                        <li>Salad - 4.95</li>
                    
                        <li>Sandwich - 4.95</li>
                    
                </ul>
            
                <h3>Dinner</h3>
                <ul>
                    
                        <li>Shrimp - 14.95</li>
                    
                        <li>Salmon - 13.95</li>
                    
                        <li>Sushi - 11.95</li>
                    
                </ul>
            
    
</body>
</html>